* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  background-color: #20232a;
}

.nav {
  display: flex;
  justify-content: left;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 115%;
  font-weight: 300;
}

.nav-logo {
  padding-right: 10px;
}

.nav-home {
  margin-right: 10px;
  padding-right: 100px;
  padding-left: 0px;
  font-weight: 700;
  font-size: 110%;
  color: rgb(41, 199, 247);
}

.nav-bar {
  width: 50%;
  display: flex;
  align-items: left;
}

a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 19px;
  padding-bottom: 19px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(41, 199, 247);
}

a:active {
  background-color: rgb(69, 72, 73);
  color: white;
}

.active-link {
  color: rgb(41, 199, 247);
  border-bottom: solid;
}

.nav-logo:active {
  background-color: inherit;
}

.nav-home:active {
  color: white;
  background-color: inherit;
}

.active-link:active{
  background-color: black;
}